.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  background-color:rgb(245, 245, 220);
  padding: 10px;
  display: inline-table;
  width: 400px;
  border-style:ridge;
  margin: 10px;
  background-position-y: bottom;
  background-repeat: no-repeat;
}